@import url(https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@600&display=swap);
html body {
    background-color: rgb(30, 30, 30);
    overflow-x: visible;
    margin: 0;
}
h1 {
    border-bottom: solid 5px blue;
    font-size: 300%;
    letter-spacing: 10px;
}
h1, p {
    font-family: 'Roboto';
}
p {
    padding-bottom: 5%;
    font-size: 200%;
}
.container {
    width: 1700px;
    height: 2400px;
    background-color: white;
    transform: scale(50%);
    transform-origin: top left;
    margin: auto;
    padding-bottom: solid blue 100px;
}
.headshot img {
    object-fit: cover;
    width: 527px;
    height: 744px;
    image-resolution: auto;
}
.profile {
    background-color: rgb(243, 243, 243);
    padding-left: 500px;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-left: solid 200px blue;
}
.right {
    padding-left: 700px;
    padding-right: 5%;
    padding-top: 5%;
}
.left {
    position: absolute;
    padding-left: 85px;
    padding-top: 108px;
    width: 527px;
}
.left span {
    font-family: 'Bebas Neue';
    padding-top: 20px;
    font-size: 500%;
    letter-spacing: 5px;
}
span.blue {
    color: blue;
    padding-left: 50px;
}
span.small {
    font-size: 350%;
    letter-spacing: 2px;
}
.contact, .skills {
    padding-top: 80px;
}
ul li {
    font-family: 'Roboto';
    font-size: 200%;
    padding-top: 20px;
}
li::marker {
    color: blue;
}
