@import url(https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@600&display=swap);
html body {
    background-color: white;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}
h1 {
    border-bottom: solid 2px blue;
    text-align: left;
}
p, h1 {
    font-family: 'Roboto';
}
.wrapper {
    margin: 0;
    height: 100%;
}
.content {
    height: 100%;
    width: 100%;
}
.profile{
    background-color: #f4f4f4;
    float: right;
    text-align: left;
    border-left: solid 100px blue;
    height: 300px;
}
.profile h1 {
}
.profile h1, .profile p {
}
.content .work h1{
    margin-top: 0;
}
.content .work p{
}